@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PRUEBA PROGRESO 1</h1>
    
    <img src="~/img/belligol}.jpg" alt="Imagen del equipo" />
    <br />
    <br />
    <button type="button" class="btn btn-info" onclick="CrearAlerta()">INFO</button>
    <br />
    
</div>



